<h1>Aktualny czas </h1>
<p>Aktualny czas: <%= DateTime.now %></p>
<% if is_daytime%>
    <img src=https://d.newsweek.com/en/full/1504436/th-sun.jpg width=250 height=300>
<% else %>
    <img src=https://zone1-ibizaspotlightsl.netdna-ssl.com/sites/default/files/styles/auto_1500_width/public/event-images/136033/slideshow-1594641730.png width=250 height=300>
<%end%>