<h1>Aktualny czas</h1>

<p> Aktualny czas: <%= DateTime.now %></p>

<% if is_daytime? %>
<img src='https://www.radiozet.pl/Co-gdzie-kiedy-jak/Pierwszy-dzien-wiosny-2020-dlugosc-dnia-i-nocy-20-i-21-marca-2020='>
<% else %>
<img src= 'https://jestem-franky.fandom.com/pl/wiki/Noc'>
<% end %>